<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BEYAZ_EŞYA_STOK_OTOMASYONU2.Properties.Settings.stok_takip_uygulamasiConnectionString"
            connectionString="Data Source=DESKTOP-88ECQKK\MSSQLSERVER02;Initial Catalog=stok_takip_uygulamasi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>